.App {
  text-align: left;
}

.Header {
  background-color: #222;
  color: white;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.App-intro {
  font-size: large;
}

.Editor {
  position: relative;
  width: 100%;
  height: 100%
}

.Editor .CodeMirror {
  position: absolute;
  width: 100%;
  height: calc(100% - 38px);
}

#Container {
    display: flex;
    flex-direction: row;
    top: 36px;
    position: relative;
}

.hidden {
  display: none;
}